[Unit]
Description=golang calendar application
After=network.target
ConditionPathExists=/usr/bin/ggcal

[Service]
User=root
ExecStart=/usr/bin/ggcal

[Install]
WantedBy=multi-user.target
